* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  font-style: "Merriweather", serif;
  background-color: rgba(157, 129, 137, 0.3647058824);
  border-color: #FFE5D9;
  text-decoration: none;
  color: black;
}

.descripciones__tratamientos {
  background-color: rgba(255, 202, 212, 0.5137254902);
  border-radius: 10px;
  font-size: 1rem;
}
.descripciones__tratamientos:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.footer__texto {
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.footer__redesli {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__li {
  color: black;
}

.trat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 202, 212, 0.5137254902);
}

.galeria-skc1 {
  background-image: url(../img/skincareuno.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
  text-align: center;
}

.galeria-skc2 {
  background-image: url(../img/skincaredos.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-skc3 {
  background-image: url(../img/skincaretres.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-msj1 {
  background-image: url(../img/masajeuno.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
  text-align: center;
}

.galeria-msj2 {
  background-image: url(../img/masajedos.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-msj3 {
  background-image: url(../img/masajetres.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.index-portada {
  background-image: url(../img/portadaindex.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

.nosotras-portada {
  background-image: url(../img/nosotrasportada.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 15rem;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
}

.nosotras-sala {
  background-image: url(../img/salamasajes.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 10rem;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
}

.masajes-portada {
  background-image: url(../img/masajeportada.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

.skincare-portada {
  background-image: url(../img/skincareportada.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  padding-top: 15rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.formturno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: "Merriweather", serif;
  background-color: rgba(255, 202, 212, 0.5137254902);
  padding: 3rem;
}

.tratamientos__titulo {
  background-color: rgba(255, 202, 212, 0.5137254902);
  padding: 20px;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.tratamientos__titulo:hover {
  transform: scale(1.1);
  border-style: solid;
  border-color: #FFE5D9;
}

/*# sourceMappingURL=style.css.map */
