* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  font-style: "Merriweather", serif;
  background-color: rgba(157, 129, 137, 0.3647058824);
  border-color: #FFE5D9;
}

.descripciones {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer-logo {
  width: 40vh;
}

.footer-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer-texto {
  font-family: "Merriweather", serif;
}

.footer-ul {
  display: flex;
  gap: 30px;
  color: black;
}

.footer-li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-icono {
  color: black;
  background-image: url("../");
}

.trat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 202, 212, 0.5137254902);
}

.header-siara {
  width: 50%;
}

.formturno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: "Merriweather", serif;
  background-color: rgba(255, 202, 212, 0.5137254902);
  padding: 3rem;
}

.index-portada {
  background-image: url(../img/portadaindex.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

.nosotras-portada {
  background-image: url(../img/nosotrasportada.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 15rem;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
}

.nosotras-sala {
  background-image: url(../img/salamasajes.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 10rem;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
}

.masajes-portada {
  background-image: url(../img/masajeportada.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

.skincare-portada {
  background-image: url(../img/skincareportada.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  padding-top: 25rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

.galeria-skc1 {
  background-image: url(../img/skincareuno.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-skc2 {
  background-image: url(../img/skincaredos.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-skc3 {
  background-image: url(../img/skincaretres.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-msj1 {
  background-image: url(../img/masajeuno.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-msj2 {
  background-image: url(../img/masajedos.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

.galeria-msj3 {
  background-image: url(../img/masajetres.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  color: black;
}

/*# sourceMappingURL=style.css.map */
