*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INDEX */

.portadaindex{
    background-image: url(../img/portadaindex.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pa{
    font-size: 1.5rem;
    width: 35%;
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skc1{
    background-image: url(../img/skincareuno.jpg);
    background-position: center;
    background-size: cover;
}

.skc2{
    background-image: url(../img/skincaredos.jpg);
    background-position: center;
    background-size: cover;
}

.skc3{
    background-image: url(../img/skincaretres.jpg);
    background-position: center;
    background-size: cover;
}

.msj1{
    background-image: url(../img/masajeuno.jpg);
    background-position: center;
    background-size: cover;
}

.msj2{
    background-image: url(../img/masajedos.jpg);
    background-position: center;
    background-size: cover;
}

.msj3{
    background-image: url(../img/masajetres.jpg);
    background-position: center;
    background-size: cover;
}

.titulotratamiento{
    background-color: rgba(240, 240, 240, 0.548);
}

.boton{
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgba(245, 245, 220, 0.705);
    border: none;
}

.images article {
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: ab
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(245, 222, 225);
    padding-bottom: 30px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

li{
    padding: 30px;
    align-items: center;
}

.titulofooter{
    padding-top: 30px;
}

.rosa{
background-color: rgb(245, 222, 225);
}