
//COLORES 
//BACKROUNDS
$color-fondo: #FFCAD4;

//LETRAS
$color-titulo: black; 
$color-subtitulo: #CED4DA;

//BOTONES
$color-botonfondo: #9D8189;
$color-botonborde: #FFE5D9;

//FUENTE
$tipografia-general: 'Merriweather', serif; 

//TAMAÑOS FUENTE
//CHICO
$tamaño-letrachico: 0.5rem;

//MEDIANO
$tamaño-letramediana: 1.0rem;

//GRANDE
$tamaño-letragrande: 1.5rem;