
//COLORES 
//BACKROUNDS
$color-fondo: #ffcad483;

//LETRAS
$color-titulo: black; 
$color-subtitulo: #CED4DA;

//BOTONES
$color-botonfondo: #9d81895d;
$color-botonborde: #FFE5D9;

//FUENTE
$tipografia-general: 'Merriweather', serif; 

//TAMAÑOS FUENTE
//CHICO
$tamaño-letrachico: 1rem;

//MEDIANO
$tamaño-letramediana: 2rem;

//GRANDE
$tamaño-letragrande: 3rem;