.descripciones{
    &__tratamientos{
        background-color: $color-fondo;
        border-radius: 10px;
        font-size: $tamaño-letrachico;
        &:hover{
            transform: scale(1.1);
        }
    }
}
